{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Dashboard</h1>
        <a href={% url "admin:index" %}>To admin site</a>
        <br />
        <table>
            <tr>
                <th>Poll name</th>
                <th>Votes</th>
            </tr>
            {% for poll in polls %}
                <tr>
                    <td><a href={% url "admin:dashboard_poll" poll.id %}>{{ poll.name }}</a></td>
                    <td>{{ poll.votes }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if curr_poll is not None %}
            <table>
                <tr>
                    <th>Question</th>
                    <th>Choices</th>
                </tr>
                {% for question in curr_poll.questions.all %}
                    <tr>
                        <td>{{ question.text }}</td>
                        <td>
                            <table>
                                {% for choice in question.choices.all %}
                                    <tr>
                                        <td>{{ choice.text }}</td>
                                        <td>votes: {{ choice.votes }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}